<!DOCTYPE html>
<html>
    <head>
        <title>WebTheater</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Mais curtidos</h1>
        <section>
            <h2>Categoria 1</h2>
            <section>
                <h3>Vídeo 1</h3>
                <img src="https://image.shutterstock.com/image-vector/image-icon-trendy-flat-style-260nw-643080895.jpg" />
            </section>
            <section>
                <h3>Vídeo 2</h3>
                <img src="https://image.shutterstock.com/image-vector/image-icon-trendy-flat-style-260nw-643080895.jpg" />
            </section>
        </section>
        <section>
            <h2>Categoria 2</h2>
            <section>
                <h3>Vídeo 3</h3>
                <img src="https://image.shutterstock.com/image-vector/image-icon-trendy-flat-style-260nw-643080895.jpg" />
            </section>
            <section>
                <h3>Vídeo 4</h3>
                <img src="https://image.shutterstock.com/image-vector/image-icon-trendy-flat-style-260nw-643080895.jpg" />
            </section>
        </section>
    </body>
</html>